*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-y:auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right bottom, rgb(187, 60, 2) 20%,rgb(156, 43, 43) 70%);
}

body::-webkit-scrollbar{
    width: 7px;
    background:rgb(156, 43, 43) ;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
}

nav{
    margin-top: 1%;
    display: flex;
    min-width: 100%;
    min-height: 10%;
    align-items: center;
    justify-content: left;
    text-align: center;
    

    .navButton, .active{
        font-size: 25px;
        margin: 0 2%;
        min-height: 100%;
        background: none;
        border: none;
        border-color: none;
        cursor: pointer;
        color: rgb(238, 231, 231);
        transition: color, border-top, border-bottom, border-color, 1s;
    }
    .navButton:hover{
        color: rgba(255, 145, 0, 0.932);
        border-top:4px solid;
        border-bottom: 4px solid;
        border-color:rgb(230, 130, 0);
        transition: color, border-top, border-bottom, border-color, 1s;
    }

    .active{
        color: rgba(255, 145, 0, 0.932);
        border-top:4px solid;
        border-bottom: 4px solid;
        border-color:rgb(230, 130, 0);

    }
}

.modalContainer{
    position: fixed;
    display: none;
    box-sizing: border-box;
    z-index: 2;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background:rgba(223, 184, 158, 0.418);
    pointer-events: all;
    
    .modal{
        pointer-events: all;
        margin: auto;
        background: linear-gradient(to left top, rgb(247, 1, 1) 20%, rgb(255, 85, 0) 70%);
        padding: 10px;
        text-align: center;
        height: auto;
        width: 40%;
    }

    .modalContent{
        background: rgb(238, 231, 231);
        padding: 2%;
        margin: 5%;
    }

    .cardContent{
        background: none;
    }

    .title,.titleGrid{
        text-align: center;
        align-items: center;
        justify-content: space-between;
        padding: 2%;
        height: 100%;
        width: 100%;
        background: rgb(238, 231, 231);
        margin :0 0 2% 0;
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
    }

    .titleGrid{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 5rem;
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
    }

    .descrip,.descripList{
        background: rgb(238, 231, 231);
        padding: 2%;
        height: 100%;
        width: 100%;
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
    }

    .descrip{
        display: none;
    }
    .descripList{
        display: block;
    }

    .confirmDelete, .cancelDelete, .closeButton{
        font-size: 20px;
        color:black;
        height: 10%;
        width: 30%;
        margin: 2%;
        cursor: pointer;
        border:2px solid;
        transition: color, border, border-color, background 1s;
    }
    .confirmDelete:hover, .cancelDelete:hover, .closeButton:hover{
        color: white;
        border:2px solid;
        transition: color, border, border-color, background 1s;
    }

    .confirmDelete{
        background-color: rgba(228, 15, 15, 0.932);
        border-color:rgba(228, 15, 15, 0.932);
        box-shadow: 5px 3px 5px rgb(131, 2, 2)
    }
    .confirmDelete:hover{
        background-color: rgba(167, 5, 5, 0.932);        
        border-color:rgba(167, 5, 5, 0.932);
    }

    .cancelDelete, .closeButton{
        background-color: rgb(248, 149, 0);
        border-color:rgb(248, 149, 0);
        box-shadow: 5px 3px 5px rgb(185, 111, 0);
    }

    .cancelDelete:hover, .closeButton:hover{
        background-color: white;
        color:rgb(248, 149, 0);
    }
}


/* contenedor proncipal */
.maincontainer{
    height: 100vh;
    width: 100%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
}

/* bandeja de ingeso de tarjeta*/
.insertCard{
    display: flex;
    margin: 5% 20% 0 5%;
    min-width: 30%;
    height: 35%;
    min-height: 75%;
    align-items: left;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to left top, rgb(247, 1, 1) 20%, rgb(255, 85, 0) 70%);
    box-shadow: 5px 5px 5px rgb(65, 20, 1);
}

form{

    display: block;
    margin: 5%;
    width: 90%;
    height: 90%;
    min-width: 30%;
    min-height: 40%;
    
    /* Selector de tipo de notas */
    .checkContainer{
        margin: 2%;
        display: block;
        align-items: center;
        text-align: center;
    
        
    
        .check{
            cursor: pointer;
            background: rgb(238, 231, 231);
            border: 3px solid rgb(238, 231, 231);
            border-radius: 50%;
            width: 15px;
            height: 15px;
            appearance: none;
        }
    
        .check:checked{
            background-color: rgb(199, 64, 2);
        }
    }

    /* Contenedores de tipo de notas */
    #containerTask{
        display: block;
    }
    #containerEvent{
        display: none;
    }

    #containerList{
        display: none;
    }

    /* Inputs formulario */

    .titleInput, input,textarea:focus{
        outline: none;
    }

    .titleInput{
        background: rgb(238, 231, 231);
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        border: 0;
        margin: 5%;
        width: 90%;
        min-width: 30%;
        padding: 2%;
        text-align: center;
    }

    .itemList{
        background: rgb(238, 231, 231);
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        border: 0;
        margin: 2%;
        width: 70%;
        min-width: 20%;
        padding: 1%;
        text-align: center;
    }
    
    /* estilos compartidos, salvo el tamaño */
    .descriptionTask, .eventDesc{
        background: rgb(238, 231, 231);
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        border: 0;
        width: 90%;
        min-width: 30%;
        padding: 2%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .descriptionTask{
        margin: 5%;
        height: 10%;
        min-height: 30%;
    }
    .eventDesc{
        height: 50%;
        min-height: 20%;
        margin: 5%;
        padding: 0;
    }

    /* fecha de event */
    .dateEvent{
        text-align: center;
        font-family: roboto;
        background: rgb(238, 231, 231);
        padding: 2%;
        width: 50%;
        border: 0;
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        outline: none;
    }

    /* Botones */
    .formButton{
        color: rgb(255, 255, 255);
        margin: 2%;
        height: 10%;
        width: 30%;
        background-color: rgba(255, 145, 0, 0.932);
        cursor: pointer;
        border:2px solid;
        border-color:rgba(255, 145, 0, 0.932);
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        transition: border, border-color, background, box-shadow, 1s;
    }
    .formButton:hover{
        border:2px solid;
        border-color:rgba(218, 53, 3, 0.932);
        color: rgba(255, 60, 0, 0.932);      
        background-color: white;
        box-shadow: inset 5px 3px 5px  rgb(99, 33, 2);
        transition: border, border-color, background, box-shadow, 1s;
    }
}

/* bandeja de tarjeta */
.cardTable{
    margin: 15% 0 0 0;
    padding: 2%;
    display: block;
    overflow-y: scroll;
    min-width: 30%;
    width: 90%;
    height: 30%;
    min-height: 50%;
    align-items: right;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to left top, rgb(247, 1, 1) 20%, rgb(255, 85, 0) 70%);
    box-shadow: 5px 5px 5px rgb(65, 20, 1);
}

.cardTable::-webkit-scrollbar{
    width: 7px;
}

.cardTable::-webkit-scrollbar-thumb{
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
}

/* tipos de tarjeta */
.task, .event, .list{
    padding: 2%;
    margin: 2% 1.5% 2% 1.5%;
    align-items: center;
    justify-content: center;
    text-align: left;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    background: rgb(238, 231, 231);
    pointer-events: none;

    .info, .delete{
        font-size:15px;
        color:white;
        height: 10%;
        width: 30%;
        margin: 2%;
        cursor: pointer;
        border:2px solid;
        transition: color, border, border-color, box-shadow, background 1s;
        pointer-events: all;
    }
    
    

    .info:hover, .delete:hover{
        color: white;
        border:2px solid;
        transition: color, border, border-color, box-shadow, background 1s;
    }

    .delete{
        background-color: rgba(228, 15, 15, 0.932);
        border-color:rgba(228, 15, 15, 0.932);
        box-shadow: 5px 3px 5px rgb(131, 2, 2)
    }
    .delete:hover{
        color: rgba(167, 5, 5, 0.932);
        background-color: white;
        border-color:rgba(167, 5, 5, 0.932);
        box-shadow: inset 5px 3px 5px rgb(131, 2, 2)
    }

    .info{
        background-color: rgb(199, 2, 117);
        border-color:rgb(199, 2, 117);
        box-shadow: 5px 3px 5px rgb(131, 2, 77)
    }
    .info:hover{
        color: rgba(81, 7, 124, 0.932);
        background-color: white;
        box-shadow: inset 5px 3px 5px rgb(131, 2, 77);
        border-color:rgba(81, 7, 124, 0.932);
    }
}

.event,.list{
    grid-template-columns:repeat(3,1fr);

    .info, .delete{
        font-size: 15px;
    }

}

.cardHidden{
    display: none;
}