*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-y:auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right bottom, rgb(187, 60, 2) 20%,rgb(156, 43, 43) 70%);
}

body::-webkit-scrollbar{
    width: 7px;
    background:rgb(156, 43, 43) ;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
}

nav{
    margin-top: 1%;
    display: flex;
    min-width: 100%;
    min-height: 10%;
    align-items: center;
    justify-content: left;
    text-align: center;
    

    .navButton, .active{
        position: relative;
        font-size: 25px;
        padding: 0 2%;
        margin: 0 2%;
        min-height: 100%;
        background: none;
        border: none;
        cursor: pointer;
        color: rgb(238, 231, 231);
        transition:color, 1s;
        overflow: hidden;
    }

    .navButton span{
        position: absolute;
        background: rgb(255, 196, 0);
    }

    .navButton span:nth-child(1){
        width: 100%;
        height: 4px;
        top: 0;
        left:  -100%;
        transition: left, right, 1s;
    }

    .navButton span:nth-child(2){
        width: 100%;
        height: 4px;
        bottom: 0;
        right:  -100%;
        transition: left, right, 1s;
    }
    
    .navButton:hover{
        color: rgb(255, 196, 0);
        transition:left, right,color, 1s;
    }

    .navButton:hover span:nth-child(1){
        left: 0;
        transition: left, right, 1s;
    }
    .navButton:hover span:nth-child(2){
        right: 0;
        transition: left, right, 1s;
    }

    .active{
        color: rgb(255, 196, 0);
    }

    .active span:nth-child(1){
        left:0;
    }
    .active span:nth-child(2){
        right:0;
    }
}

.modalContainer{
    
    position: fixed;
    display: none;
    box-sizing: border-box;
    z-index: 2;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background:rgba(223, 184, 158, 0.418);
    pointer-events: all;
    
    .modal{
        border-radius: .5rem;
        pointer-events: all;
        margin: auto;
        background: linear-gradient(to left top, rgb(247, 1, 1) 20%, rgb(236, 79, 0) 70%);
        padding: 10px;
        text-align: center;
        height: auto;
        width: 40%;
    }

    .modalContent{
        background: rgb(238, 231, 231);
        padding: 2%;
        margin: 5%;
    }

    .cardContent{
        background: none;
    }

    .title,.titleGrid{
        text-align: center;
        align-items: center;
        justify-content: space-between;
        padding: 2%;
        height: 100%;
        width: 100%;
        background: rgb(238, 231, 231);
        margin :0 0 2% 0;
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
    }

    .titleGrid{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 5rem;
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
    }



    .descrip {
        background: rgb(238, 231, 231);
        padding: 2%;
        height: 150px;
        width: 100%; 
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        overflow: hidden; 
    }
    
    .descrip > p {
        white-space: pre-wrap; 
        word-wrap: break-word; 
        overflow-y: auto;
        max-height: 100%;
    }

    .descrip{
        display: none;
    }
    
    .descrip ::-webkit-scrollbar{
        width: 7px;
    }
    
    .descrip ::-webkit-scrollbar-thumb{
        background-color: rgb(255, 115, 0);
        border-radius: 5px;
    }

    .descripList{
        background: rgb(238, 231, 231);
        padding: 2%;
        height: 150px;
        width: 100%;
        overflow-x: hidden;
        white-space: wrap;
        overflow-y: auto;
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
    }

    .descripList{
        display: block;
    }

    .descripList::-webkit-scrollbar{
        width: 7px;
    }
    
    .descripList::-webkit-scrollbar-thumb{
        background-color: rgb(255, 115, 0);
        border-radius: 5px;
    }


    
    
    .closeButton{
        font-size: 20px;
        color:black;
        height: 10%;
        width: 30%;
        margin: 2%;
        cursor: pointer;
        border:2px solid;
        border-radius: .5rem;
        background: rgb(255, 196, 0);
        border-color: rgb(255, 196, 0);
        box-shadow: 2px 3px 2px rgb(112, 86, 1);
        transition: border, border-color, background, box-shadow, 1s;
    }
    .closeButton:hover{
        color: white;
        border:2px solid;
        background-color: white;
        box-shadow: inset 5px 3px 5px rgb(221, 169, 0);
        color:rgb(255, 196, 0);
        transition: border, border-color, background, box-shadow, 1s;
    }

    
}


/* contenedor proncipal */
.maincontainer{
    height: 100vh;
    width: 100%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
}

/* bandeja de ingeso de tarjeta*/
.insertCard{
    border-radius: .5rem;
    display: flex;
    margin: 5% 20% 0 5%;
    min-width: 30%;
    height: 35%;
    min-height: 75%;
    align-items: left;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to left top, rgb(247, 1, 1) 20%, rgb(236, 79, 0) 70%);
    box-shadow: 5px 5px 5px rgb(65, 20, 1);
}

form{
    position: relative;
    display: block;
    margin: 5%;
    width: 90%;
    height: 90%;
    min-width: 30%;
    min-height: 40%;
    
    /* Selector de tipo de notas */
    .checkContainer{
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-align: right;

        .check{
            cursor: pointer;
            background: rgb(238, 231, 231);
            border: 3px solid rgb(238, 231, 231);
            border-radius: 50%;
            width: 15px;
            height: 15px;
            appearance: none;
            transition: background-color, 1s;
        }
        .check:hover{
            background-color: #7842f5ee;
        }
    
        .check:checked{
            background-color: #4c00ffee;
        }
    }

    /* Contenedores de tipo de notas */

    .containerList{
        display: block;
    }

    .hidden{
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
    
    /* Inputs formulario */

    .titleInput, input,textarea:focus{
        outline: none;
    }

    .titleInput{
        background: rgb(238, 231, 231);
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        border: 0;
        margin: 5%;
        width: 90%;
        min-width: 30%;
        padding: 2%;
        text-align: center;
    }

    .itemList{
        background: rgb(238, 231, 231);
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        border: 0;
        margin: 2%;
        width: 70%;
        min-width: 20%;
        padding: 1%;
        text-align: center;
    }
    
    .cardDescription{
        margin: 2%;
        height: 10%;
        min-height: 30%;
        background: rgb(238, 231, 231);
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        border: 0;
        width: 90%;
        min-width: 30%;
        padding: 2%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    /* fecha de event */
    .dateEvent{
        text-align: center;
        font-family: roboto;
        background: rgb(238, 231, 231);
        padding: 2%;
        margin: 2%;
        width: 50%;
        border: 0;
        box-shadow: 5px 3px 5px rgb(99, 33, 2);
        outline: none;
    }

    .edHidden, .liHidden{
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
    }

    /* Botones */
    .formButton{
        font-size: 14px;
        border-radius: .5rem;
        color: rgb(238, 231, 231);
        margin: 2%;
        height: 10%;
        width: 30%;
        cursor: pointer;
        border:2px solid;
        border-color: #4c00ffee;
        background-color: #4c00ffee;        
        box-shadow: 5px 3px 5px #290188ee;
        transition: border, border-color, background, box-shadow, 1s;
    }
    .formButton:hover{
        border:2px solid;
        border-color: #4c00ffee;
        color: #4c00ffee;
        background-color: white;
        box-shadow: inset 5px 3px 5px  #3b00c4ee;
        transition: border, border-color, background, box-shadow, 1s;
    }
}

/* bandeja de tarjeta */
.cardTable{
    border-radius: .5rem;
    margin: 15% 0 15% 0;
    padding: 2%;
    display: block;
    overflow-y: scroll;
    min-width: 30%;
    width: 90%;
    height: 30%;
    min-height: 50%;
    align-items: right;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to left top, rgb(247, 1, 1) 20%, rgb(236, 79, 0) 70%);
    box-shadow:  5px 5px 5px rgb(65, 20, 1);

    .message{
        display: block;
    }
    .hiddenMessage{
        display: none;
    }
}

.cardTable::-webkit-scrollbar{
    width: 7px;
}

.cardTable::-webkit-scrollbar-thumb{
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
}

/* tipos de tarjeta */
.task, .event, .list{
    display: grid;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    margin: 2% 1.5% 2% 1.5%;
    align-items: center;
    justify-content: center;
    text-align: left;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:auto;
    background: rgb(238, 231, 231);
    pointer-events: none;
    box-shadow: 5px 3px 5px;        

    .cardData, .cardDate, .cardItems, .cardVew{        
        padding: 5%;
    }

    .cardItems{
        max-height: 100%;
        max-width: 100%;
    }

    .cardData > p{
        overflow: hidden;
        max-height:30px;
        max-width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .cardVew{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .deleterCard{
        margin: 0;
        align-items: end;
        justify-content: end;
        text-align: end;
        height: 100%;
    }

    .info, .delete{
        font-size:15px;
        color:white;
        margin: 2%;
        cursor: pointer;
        border:2px solid;
        pointer-events: all;
        transition: border, border-color, background, box-shadow, 1s;
    }

    .info:hover, .delete:hover{
        color: white;
        border:2px solid;
        transition: border, border-color, background, box-shadow, 1s;
    }

    .delete{
        height: 100%;
        width: 50%;
        margin: 0%;
        background-color: rgba(228, 15, 15, 0.932);
        border-color:rgba(228, 15, 15, 0.932);
        transition: border, border-color, background, box-shadow, 1s;
    }

    .delete.deleted{
        animation: delete_button 3s;
    }
    .deleterCard.deleted{
        animation: delete_buttonContainer 3s;
    }

    .delete:hover{
        color: rgba(167, 5, 5, 0.932);
        background-color: white;
        border-color:rgba(167, 5, 5, 0.932);
        box-shadow: inset 3px 5px 5px rgb(131, 2, 2);
        transition: border, border-color, background, box-shadow, 1s;
    }

    .delete:focus{
        cursor: auto;
        background-color: rgba(228, 15, 15, 0.932);
        border-color:rgba(228, 15, 15, 0.932);
        color:rgba(228, 15, 15, 0.932);
        box-shadow: none;
        transition: border, border-color, background, box-shadow, 1s;
    }

    .info{
        border-radius: .5rem;
        height: 100%;
        width: 50%;
        border-color: #4c00ffee;
        background-color: #4c00ffee;
        box-shadow: 5px 3px 5px #290188ee;
        transition: border, border-color, background, box-shadow, 1s;
    }
    .info:hover{
        color: #3c05bdee;
        background-color: white;
        box-shadow: inset 5px 3px 5px #3801b9ee;
        border-color:#3c05bdee;
        transition: border, border-color, background, box-shadow, 1s;
    }
}

.event,.list{
    grid-template-columns:repeat(4,1fr);

    .info, .delete{
        font-size: 15px;
        text-overflow: clip;
    }

    .cardList{
        overflow: hidden;
        max-height:50px;
        max-width: 100px;
        list-style: none; 
    }
    .cardList > li{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.cardFilted{
    display: none;
}


/* *ANIMACIONES */

/* Formulario */
.hiddenDate{
    animation: hidden_Date 1s;
}

.showDate{
    animation: show_Date 1s;
}

.showInput{
    animation: show_Input 1s;
}

.hiddenInput{
    animation: hidden_input 1s;
}

.hiddenInputsList{
    animation: hidden_Input_List 1s;
}
.showInputsList{
    animation: show_Input_List 1s;
}

@keyframes show_Input_List{
    0%, 55%{
        margin: 0%;
        width: 0%;
        min-width: 0%;
        padding: 0%;
        opacity: 0%;
    }
    55%,95%{
        margin: 2%;
        width: 70%;
        min-width: 20%;
        padding: 1%;
        opacity: 100%;
    }
}

@keyframes hidden_Input_List{
    0%, 55%{
        margin: 2%;
        width: 70%;
        min-width: 20%;
        padding: 1%;
        opacity: 100%;
    }
    55%,95%{
        margin: 0%;
        width: 0%;
        min-width: 0%;
        padding: 0%;
        opacity: 0%;
    }
}

@keyframes hidden_Date{
    0%, 55%{
        width: 50%;
        padding: 2%;
        opacity: 100%;
    }
    55%,95%{
        width: 0%;
        padding:0%;
        opacity: 0%;
    }
}

@keyframes show_Date{
    0%, 55%{
        width: 0;
        padding:0%;
        opacity: 0%;
    }
    55%,95%{
        width: 50%;
        padding: 2%;
        opacity: 100%;
    }
}

@keyframes show_Input{
    0%,55%{
        padding: 0%;
        height: 0%;
        margin: 0%;
        opacity: 0%;
    }
    55%, 95%{
        height: 10%;
        padding: 2%;        
        margin: 2%;
        opacity: 100%;
    }
}

@keyframes hidden_input{
    0%, 55%{
        padding: 2%;
        margin: 2%;
        height: 10%;
        opacity: 100%;
    }

    55%, 95%{        
        padding: 0%;
        margin: 0%;
        height: 0%;
        opacity: 0%;
    }
}

/* card-table */
.card.deleted{        
    animation: delete_card 3s;
}

.cardHidden{
    animation: hidden_card 1s;
}

.cardShow{
    animation:show_card 1s;
}

.messageShow{
    animation: show_Message 1s;
}

.messageHidden{
    animation: hidden_Message 1s;
}

@keyframes hidden_Message{
    0%,55%{
        opacity: 100%;
    }

    55%, 100%{
        opacity:0%;
    }
}

@keyframes show_Message{
    0%,55%{
        opacity: 0%;
    }

    55%, 100%{
        opacity:100%;
    }
}

@keyframes hidden_card {

    
    0%,55%{
        width: 95%;
    }

    55%, 100%{
        width:0%;
    }

}

@keyframes show_card {
    
    0%,55%{
        width: 0%;
    }
    55%,100%{
        width: 95%;
    }
}

@keyframes delete_buttonContainer{
    15%,90%{
        z-index: 1;
        position: absolute;
        width: 100%;
    }
}

@keyframes delete_button{
    0%,10%{
        color:rgba(228, 15, 15, 0.932);
        background-color: rgba(228, 15, 15, 0.932);
        border-color:rgba(228, 15, 15, 0.932);
        box-shadow:none;
    }
    40%,100%{
        width: 100%;
        color:rgba(228, 15, 15, 0.932);
    }

}

@keyframes delete_card {
    0%,55%{
        width: 100%;
    }
    60%,100%{
        width: 0%;
    }
}

